<div class="container">
	<form [formGroup]="registerForm" class="mt-4">
		<legend>Create an account</legend>

		<div class="mb-3">
			<label for="name">Name:</label>
			<input type="text" class="form-control" placeholder="Name" formControlName="name" [validationClasses]="{
				valid: 'is-valid', invalid: 'is-invalid'
				}" />

			@let nameErrors = registerForm.get('name')?.errors;

			@if(nameErrors?.['required']) {
			<div class="invalid-feedback">Name cannot be empty</div>
			}
		</div>

		<div class="mb-3">
			<label for="email">Email:</label>
			<input type="email" class="form-control" placeholder="Email" formControlName="email" [validationClasses]="{
				valid: 'is-valid', invalid: 'is-invalid'
				}" />

			@let emailErrors = registerForm.get('email')?.errors;

			@if(emailErrors?.['required']) {
			<div class="invalid-feedback">Email cannot be empty</div>
			}

			@if(emailErrors?.['email']) {
			<div class="invalid-feedback">Email is invalid</div>
			}
		</div>

		<div class="mb-3">
			<label for="email2">Confirm Email:</label>
			<input type="email" class="form-control" placeholder="Email" formControlName="emailConfirm" [validationClasses]="{
				valid: 'is-valid', invalid: 'is-invalid'
				}" />

			@let emailConfirmErrors = registerForm.get('emailConfirm')?.errors;

			@if (emailConfirmErrors?.['required']) {
			<div class="invalid-feedback">Confirm email cannot be empty</div>
			}@else if(emailConfirmErrors?.['email'] || emailConfirmErrors?.['emailMismatch']) {
			<div class="invalid-feedback">Emails do not match</div>
			}
		</div>

		<div class="mb-3">
			<label for="password">Password:</label>
			<input type="password" class="form-control" formControlName="password" placeholder=" Password"
				[validationClasses]="{
				valid: 'is-valid', invalid: 'is-invalid'
				}" />

			@let passwordErrors = registerForm.get('password')?.errors;

			@if(passwordErrors?.['required']) {
			<div class="invalid-feedback">Password cannot be empty</div>
			}

			@if(passwordErrors?.['minlength']) {
			<div class="invalid-feedback">
				You must enter at least
				{{passwordErrors?.['minlength'].requiredLength - passwordErrors?.['minlength'].actualLength}}
				characters more
			</div>
			}
		</div>

		<div class="form-row">
			<div class="mb-3 col">
				<label for="lat">Latitude:</label>
				<input type="text" class="form-control" id="lat" name="lat" placeholder="Geolocating..." readonly
					formControlName="latitude" />
			</div>
			<div class="mb-3 col">
				<label for="lng">Longitude:</label>
				<input type="text" class="form-control" id="lng" name="lng" placeholder="Geolocating..." readonly
					formControlName="longitude" />
			</div>
		</div>

		<div class=" mb-3">
			<label for="avatar">Avatar image</label>
			<input type="file" class="form-control" formControlName="image" #fileInput encodeBase64
				(encoded)="imageBase64 = $event" (change)="checkImage(fileInput)" [validationClasses]="{
					valid: 'is-valid', invalid: 'is-invalid'
					}" />

			@let imageErrors = registerForm.get('image')?.errors;

			@if(imageErrors?.['required']) {
			<div class="invalid-feedback">Image cannot be empty</div>
			}

		</div>

		@if (imageBase64){
		<img [src]="imageBase64" alt="" id="imgPreview" class="img-thumbnail" />
		}

		<p class="text-danger" id="errorInfo"></p>
		<a class="btn btn-secondary" href="login.html" role="button">Go back</a>
		<button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Create account</button>
	</form>
</div>